.single-item {
	margin: 50px 0;

	border: 1px solid red;
	padding: 5px;
}

.single-item > div {
	margin: 20px 0;
	border: 1px solid gray;
	padding: 5px;
}

.list {
	max-width: 500px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
